body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

#TopNavBar {
    z-index: 999;
}

.width100 {
    width: 100%;
}

.tab-pane.fade {
    display: none;
}

.tab-pane.show {
    display: block;
}

#Table {
    min-height: 18vh;
}

#Table td,
#Table th {
    padding: 2vh;
    color: #222;
}

#Table .fa-ellipsis-v {
    color: #999;
    min-width: 20px;
    align-content: center;
}

table tr {
    transition: all linear 0.3s;
}

table tr:hover,
table th {
    background-color: #f9f9f9;
}

#Table td>a {
    text-decoration: none;
    color: #222;
}

.hand {
    cursor: pointer;
}

.capitilize {
    text-transform: capitalize;
}

.shadowBox {
    -webkit-box-shadow: 10px -5px 10px 3px rgba(163, 163, 163, .2);
    -moz-box-shadow: 10px -5px 10px 3px rgba(163, 163, 163, .2);
    box-shadow: 10px -5px 10px 3px rgba(163, 163, 163, .2);
    font-size: 90%;
}

.btnCreate img {
    width: 1rem;
    margin-right: 0.5rem;
}

.btnCreate:hover {
    background-color: #4f5588;
    color: white!important;
}


/* Animations */

.modal {
    background-color: rgba(50, 54, 89, 0.9);
}

.radius {
    border-radius: 8px;
}

.radius20 {
    border-radius: 20px;
}

label {
    margin-bottom: 0px;
}

.nav-link {
    border-radius: 30px!important;
    color: white;
    transition: all linear 0.3s;
}

.sideBar .nav .nav-link {
    padding: 1.2rem;
}

.sideBar .nav-item .nav-link.active {
    background-color: #fafafa;
    color: black;
}

.nav-link:hover {
    background-color: #4f5588!important;
    color: white!important;
    border-radius: 30px;
}

.btn-round {
    border-radius: 25px;
}

.bright {
    text-shadow: #fff 1px 0px 2px;
}

.checkedTR {
    background-color: #fbf3ea;
}

.searchIcon {
    border: none !important;
}

.smallFont {
    font-size: 50%;
}

.sideFoot {
    position: fixed;
    bottom: 0;
}

#firstSideFootLink {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.activityCreationBox {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
    width: 100%;
    background-color: #eee;
    margin-bottom: 0.5rem;
}

#RequestShow a.nav-link {
    min-width: 10rem;
}

a[data-toggle="collapse"] {
    text-decoration: none;
}

#activities .actionButton {
    width: 30px;
    text-align: center;
}

.font-size2 {
    font-size: 1.3rem;
}

#Dashboard .dashBoardMeetingTopic {
    line-height: 5rem;
}

.bluish {
    color: #323659;
}

@media only screen and (min-width: 600px) {
    #leftSideBar {
        min-height: 100vh;
    }
}

#Table img {
    max-width: 4rem;
}


/* ----------------- Switch Styles --------------- */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* --------------------------------- */

.btn-primary,
.btn-outline-primary:hover {
    background-color: #323659!important;
    border-color: #323659;
}

.btn-outline-primary {
    border-color: #323659;
    color: #323659;
}


/* meeting info */

.input-bold {
    font-weight: bold;
    font-size: 150%;
}

@keyframes fadeInSudden {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.EmptyListMsg {
    animation-name: fadeInSudden;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

.accordion>.card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

tr {
    border: 1px solid #eee;
}

a.dropdown-item {
    font-size: 2.5vh;
}

.list-group-item {
    transition: all linear 0.3s;
}

.list-group-item.active {
    background-color: #E78C03;
    border: white;
    color: #111;
}

.text-primary {
    color: #323659!important;
}

.text-sm {
    font-size: 80%;
}

.bg-gray {
    background-color: #eee;
}

.uploadBox {
    background-color: white;
    height: 30vh;
    text-align: center;
    cursor: pointer;
}

.uploadBox i {
    font-size: 15vh;
    margin-top: 7vh;
}

.dropdown-toggle-split {
    width: 35px;
}

.SumedPagination>li>a {
    border: none;
    background-color: #fafafa;
}

.SumedPagination>li>a.active {
    background-color: #E78C03;
    color: #333;
    border-radius: 5px;
}

.lineheight1 {
    line-height: 1;
}

input.dateBox {
    border: 1px solid #eee;
    border-radius: 5px;
}

.border0 {
    border: none!important;
}

.bold {
    font-weight: bold;
}

.text-warning {
    color: #ea8b39!important;
}

.coolInput {
    color: #323659;
    border: 1px solid #323659;
    font-size: 150%;
    font-weight: bold;
    /* height: 40px; */
}

.text-lg {
    font-size: 180%;
}

.border-dashed {
    border: 3px dashed #666;
}

.line-height-50 {
    line-height: 50%;
}

.line-height-150 {
    line-height: 150%;
}

.table-responsive {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

#RightContent>div {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

#progressBar {
    animation: 10s 1 normal progressBarAnimation;
    animation-fill-mode: forwards;
}

@keyframes progressBarAnimation {
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}